* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: monospace;
  font-size: 14px;
}

.parents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.actions {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em 0 1em;
}

.grand-parent,
.parent {
  flex: 0 0 250px;
  display: flex;
  flex-flow: column wrap;
  background: rgba(255, 255, 255, 0.5);
  padding: 1.1em 1.5em 1em 1.5em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
  border-radius: 1em;
  transition: .5s transform, .5s background, .5s box-shadow;
  margin: 1em;
  height: 470px;
}

.parent-title {
  display: block;
  text-align: center;
  margin-bottom: .5em;
}

hr {
  margin-bottom: 1em;
  width: 100%;
  border: 0;
  border-bottom: 1px dashed rgba(0,0,0,.2);
}

.child {
  color: #333;
  flex-direction: column;
  background: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
  margin-bottom: 1em;
  border-radius: 4px;
  border: 0;
  flex: 1;
  width: 100%;
  text-align: center;
  transition: .5s transform, .5s background, .5s box-shadow;
}

.child.selected {
  background: #fc830a !important;
  box-shadow: 0 5px 10px rgba(252, 131, 10, .5), inset 0 0px 25px rgba(255, 221, 43, 0.5) !important;
  color: white !important;
  transform: translate(0, -3px) !important;
}

.type {
  background: #ffb3568f;
  color: #333;
  padding: 1px 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.grand-parent.selected,
.parent.selected {
  border: 1px dashed #fc830a;
  box-shadow: 0 2px 10px rgba(252, 131, 10, .5);
  transform: translate(0, -3px) !important;
}

#txtSelector {
  padding: 8px 10px;
  background: transparent;
  border-width: 0 0 1px 0;
  border-color: rgba(0, 0, 0, .4);
  width: 300px;
  text-align: center;
}

#txtSelector:focus {
  border-color: #fc830a !important;
  outline: none;
}

.page-title {
  font-size: 2em;
  font-family: Segoe UI Light;
    margin: 15px;
}
